* {
  /* outline: 1px dashed red; */
  /* border: 1px black solid; */
}

html,
body,
main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

#main-section,
#main-section2 {
  height: 45%;
  width: 45%;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}

div {
  border: 1px black solid;
  margin: 2%;
  display: flex;
}

p {
  justify-content: center;
  margin: 2%;
}
